@use 'config';
@use 'variables' as var;
#no-scroll {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 102
}
#container{
    height: 100vh;
}
.splash-loader-box{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 102;
    .splash-screen {
        display: flex;
        width: 100%;
        height: 100%;
        .item {
            width: 20%;
            height: 100%;
            background-color: var.$primary-color;
        }

    }
    .progress-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 13;
        p{
            font-weight: var.$font-weight-semi-bold;
            color: var.$secondary-color;
            font-size: config.rem(54);

        }
    }
}

h2{
    margin:0;
    font-size: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 101;
    transform: translateY(config.rem(-90));
    .header-grid{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: config.rem(32) config.rem(40);
    }
    .navi-list{
        display: flex;
        gap: config.rem(24);
        .item{
            cursor: pointer;
            font-weight: var.$font-weight-semi-bold;
            font-size: config.rem(24);
        }
    }
}
.section{
    position: relative;
    width: 100vw;
    height: 100vh;
    &.h-section{
        width: 200vw;
        display: flex;
        .section{
            z-index: 1;
            flex-shrink: 0;
        }
    }

    &.hero {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        .loading-box {
            background-color: red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
    &.home{
        h2{
            display: none;
        }
        .word-outer{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .word-inner{
            font-weight: var.$font-weight-black-bold;
            font-size: config.rem(128);
        }
        .img-star{
            position: absolute;
            z-index: 1;
            bottom: config.rem(30);
            left: 50%;
            transform: translate(-50%);
            width: config.rem(90);
            height: config.rem(80);
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.footer{

}
.go-top{

}




