@use 'config';
@use 'variables' as var;
body{

}
#no-scroll {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: var.$primary-color;
    z-index: 102;

}
#container{
    height: 100vh;
}
.splash-loader-box{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    right: 0;
    bottom: 0;
    z-index: 102;
    .splash-screen {
        display: flex;
        width: 100%;
        height: 100%;
        .item {
            width: 20%;
            height: 100%;
            background-color: var.$primary-color;

        }

    }
    .progress-box{
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        visibility: inherit;
        transform: translate(-50%,-50%);
        z-index: 13;
        p{
            text-align: center;
            font-weight: var.$font-weight-semi-bold;
            color: var.$secondary-color;
            font-size: config.rem(54);

        }
    }
}

h2{
    margin:0;
    font-size: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.sticky-header{
    position: fixed;
    left: 0;

    width: 100%;
    background-color: var.$secondary-color;
    z-index: 101;
    transform: translateY(config.rem(-90));
    .header-grid{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: config.rem(32) config.rem(40);
    }
    .navi-list{
        display: flex;
        gap: config.rem(24);
        .item{
            cursor: pointer;
            font-weight: var.$font-weight-semi-bold;
            font-size: config.rem(24);
            position: relative;
            .bar{
                bottom: config.rem(-6);
                left: 0;
                position: absolute;
                border: 1px solid var.$primary-color;
                transform: scaleX(0);
                width: 100%;
                transform-origin: left center;
            }
        }
    }
}

.section{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0 config.rem(40);
    &.section01{
        h2{
            display: none;
        }
        .word-outer{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .word-inner{
            font-weight: var.$font-weight-black-bold;
            font-size: config.rem(128);
        }
        .img-star{
            position: absolute;
            z-index: 1;
            bottom: config.rem(30);
            left: 50%;
            transform: translate(-50%);
            width: config.rem(90);
            height: config.rem(80);
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &.section03{
        .word-outer{
            width: 100%;
            height: 100%;
            .word-inner{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .word-inner{
        }
        h3{
            font-weight: var.$font-weight-black-bold;
            font-size: config.rem(100);
        }
    }

}

.footer{

}
.go-top{

}




.img{
    width: config.rem(50);
    height: config.rem(50);
}
