@use 'config';
@use 'variables' as var;
#container{
    height: 100vh;
}
#cursor{
    width: config.rem(60);
    height: config.rem(60);
    background-color: #fff;
    z-index: 9999;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    mix-blend-mode: difference;
    span{
        visibility: hidden;
        position: absolute;
        top: 50%;
        z-index: 108;
        left: 50%;
        font-weight: var.$font-weight-black-bold;
        transform: translate(-50%, -50%);
        font-size: config.rem(12);
        color: #000;
    }

}
.splash-loader-box{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    right: 0;
    bottom: 0;
    z-index: 102;
    .splash-screen {
        display: flex;
        width: 100%;
        height: 100%;
        .item {
            width: 20%;
            height: 100%;
            background-color: #fff

        }

    }
    .progress-box{
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        visibility: inherit;
        transform: translate(-50%,-50%);
        z-index: 13;
        p{
            text-align: center;
            font-weight: var.$font-weight-semi-bold;
            color: #000;
            font-size: config.rem(54);

        }
    }
}

h2{
    margin:0;
    font-size: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.sticky-header{
    position: fixed;
    left: 0;
    width: 100%;
    background-color: var.$secondary-color;
    z-index: 101;
    transform: translateY(config.rem(-90));
    .header-grid{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: config.rem(32) config.rem(40);
    }
    .navi-list{
        display: flex;
        gap: config.rem(24);
        .item{
            cursor: pointer;
            font-weight: var.$font-weight-semi-bold;
            font-size: config.rem(24);
            position: relative;
            .bar{
                bottom: config.rem(-6);
                left: 0;
                position: absolute;
                border: 1px solid var.$primary-color;
                transform: scaleX(0);
                width: 100%;
                transform-origin: center center;
            }
        }
    }
    .brand-logo{
        top: 50%;
        transform: translateY(-50%);
        left: config.rem(40);
        position: absolute;
        a{
            font-weight: 700;
            color: #000;
            font-size: config.rem(32);
            text-align: center;
            text-decoration: none;
        }
        em{
            font-weight: 500;
            color: inherit;
            font-size: config.rem(18);
            display: block;
        }
    }
}
.section{
    width: 100vw;
    height: 100vh;
    position: relative;
    &.section1{
        background-color: #000;
        .word-outer{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .word-inner{
            color: #fff;
            font-weight: var.$font-weight-black-bold;
            font-size: config.rem(128);
        }
        .img-star{
            position: absolute;
            z-index: 1;
            bottom: config.rem(30);
            left: 50%;
            transform: translate(-50%);
            width: config.rem(90);
            height: config.rem(80);
            img{
                width: 100%;
                height: 100%;
            }
        }
        .text-wrapper{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            visibility: hidden;
            font-size: config.rem(24);
            color: red;
            .text-layout-center{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
    &.section2{
        background-color: #000;
    }
    &.section3{
        .word-container{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .word-outer{
            width: 100%;
            height: 100%;
        }
        .word-inner{
            gap: 3vw;
            display: flex;
            *{
                font-weight: var.$font-weight-black-bold;
                font-size: 6vw
            }
        }
    }
    &.section4{
        background-color: #000000;
        .work-container{
            gap: config.rem(30);
            padding: config.rem(40);
            display: flex;
            justify-content: space-between;
        }
        .img-container{
            flex: 1 1 100%;
            position: relative;
            .img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                filter: brightness(0.4);
                img{
                    width: 100%;
                    height: 100%;
                }
            }

        }
        .text-container{
            flex: 1 1 100%;
            color: #fff;
            a{
                color: inherit;
            }
            .work-text-box{
                li{
                    display: flex;
                    padding: config.rem(20) 0;
                    border-bottom: config.rem(1) solid #fff;
                    span{
                        &:first-child{
                            flex: 0 0 15%;
                            font-weight: var.$font-weight-semi-bold;
                        }
                    }
                    a{
                        margin-left: auto;
                    }
                }

            }
        }

    }
    &.section5{
        background-color: #000;
        .contact-box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: config.rem(4);
            .badge{
                border-radius: config.rem(26);
                padding: config.rem(15) config.rem(30);
                color: #fff;
                font-size: config.rem(24);
                border: 1px solid #fff;
            }
            .title{

                font-size: config.rem(120);
                color: #fff;
                font-weight: 700;
            }
        }

    }

}
.footer{
    height: config.rem(160);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    .contact-list {
        padding: 0 config.rem(40);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item {
            color: #000;
            .title {
                font-size: config.rem(32);
                display: block;
                font-weight: 700;
                margin-bottom: config.rem(16)
            }

            .copy-right {
                color: #000;
                font-size: config.rem(14);
                line-height: 1.2;
            }

            .contact {
                font-size: config.rem(18);
                a {
                    text-decoration: none;
                    color: #000;
                }

            }
        }
    }
    i{
        font-size: config.rem(32);
        &:first-child{
            margin-right: config.rem(10);
        }
    }
}


